/* Component-specific styles - most moved to Tailwind */
:host {
  display: block;
}

/* Line clamp utility for affiliation text */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
